:root.theme-dark {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --decorated-element-color: #ff0070;
  --section-title-color: #ff0070;
  --card-title-color: #000028;
  --bg-color: #000028;
  --link-shadow-color: #ff0070;
  --rec-visibility: visible;
}

/* Добавить медиазапрос для автоматической тёмной темы */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --text-color: #f1b2ce;
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --decorated-element-color: #ff0070;
    --section-title-color: #ff0070;
    --card-title-color: #000028;
    --bg-color: #000028;
    --link-shadow-color: #ff0070;
    --rec-visibility: visible;
  }
}