/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --decorated-element-color: #ff0070;
  --section-title-color: #ff0070;
  --card-title-color: #000028;
  --bg-color: #000028;
  --link-shadow-color: #ff0070;
  --rec-visibility: visible;
}
