/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
    Вам также нужно будет написать ряд подобных селекторов 
  */
	
  --header-background-image: url('../images/cover-image-dark.png');
  --accent-color: #FF0070;
  --border-color: #FF0070;
  --page-background-color: #000028;
  --header-title-color: #DB00FF;
  --section-header-color: #FF0070;
  --subtitles-text-color: #000028;
  --section-paragraph-text-color: #F1B2CE;
  --footer-text-shadow: #FF0070;
}
